<h1 class= "heading">About Game</h1>
<div class="about">
  <p class="icon">This web app is made with the Web framework - Sinatra<img src="/img/sinatra.jpg" alt=""></p>
  <p class="icon">GameBoard build with JavaScript
    <img src="/img/javascript.svg" alt=""></p>
  <p class="icon">Technologies used HTML5<img src="/img/html5.svg" alt="">, CSS3 <img src="/img/css3.svg" alt=""></p>
  <p class="icon">Database used PostgreSQL<img src="/img/postgresql.svg" alt=""></p>
  <p class="icon">Languages used Ruby <img src="/img/ruby.svg" alt=""> & JavaScript <img src="/img/javascript.svg" alt=""></p>
  <p class="icon checkmore">Thanks to <a href="https://codepen.io/valhead/">Val Head</a> for footer CSS animation.</p>
  <p class="icon checkmore">Check out more about our web site here:  <a href="https://github.com/priyankamk/Project-3/tree/make_route_for_login">BlackJack-PDR</a> </p>
  <br>
  <div class="links">
    <h3>Made by</h3>
    <h4 class ="profile_rob grow">Rob Versluis >>
      <a href="https://github.com/RobVee88">
        <img class="github" src="/img/github.svg" alt="">
      </a>
      <a href="https://www.linkedin.com/in/rob-versluis/">
        <img src="/img/linkedin.svg" alt="">
      </a>
    </h4>
    <h4 class="profile_dk grow">Daniel Keller >>
      <a href="https://github.com/danielk78">
        <img src="/img/github.svg" alt="">
      </a>
      <a href="https://www.linkedin.com/in/daniel-p-keller/">
        <img src="/img/linkedin.svg" alt="">
      </a>
    </h4>
    <h4 class="profile_pri grow">Priyanka >>
      <a href="https://github.com/priyankamk">
        <img src="/img/github.svg" alt="">
      </a>
      <a href="https://www.linkedin.com/in/priyanka-mukund-kumaresh/">
        <img src="/img/linkedin.svg" alt="">
      </a>
    </h4>
  </div>
</div>
<footer class="wrap">
  <div class="sticker"></div>
  <div class="msg">Made by :PDR 	&copy;2019</div>
</footer>
