<div class="aboutpage">
  <h1>About</h1>
  <p>This web app is made with the framework Sinatra, game with JavaScript</p>
  <br>
  <div class="links">
    <h3>Made by</h3>
    <h4>Rob Versluis 
      <a href="https://github.com/RobVee88">
        <img src="/img/github.svg" alt="">
      </a>
      <a href="https://www.linkedin.com/in/rob-versluis/">
        <img src="/img/linkedin.svg" alt="">
      </a>
    </h4>
    <h4>Daniel keller
      <a href="https://github.com/danielk78">
        <img src="/img/github.svg" alt="">
      </a>
      <a href="https://www.linkedin.com/in/daniel-p-keller/">
        <img src="/img/linkedin.svg" alt="">
      </a>
    </h4>
    <h4>Priyanka
      <a href="https://github.com/priyankamk">
        <img src="/img/github.svg" alt="">
      </a>
      <a href="https://www.linkedin.com/in/priyanka-mukund-kumaresh/">
        <img src="/img/linkedin.svg" alt="">
      </a>
    </h4>
  </div>
</div>
