<main class='game-board'>
    <section class="dealer">
        <div class="dealer-cards">
            <div class="dealer-card-1">

            </div>
        </div>
    
    </section>
    
    <section class="game-info">
        <button class="btn deal">deal</button>
        <p>player wins</p>
        <p>push</p>
        <p>dealer wins</p>
    </section>

    <section class="player">
        <div class="player-cards">
            <div class="player-card-1">
                    
            </div>
        </div>

    </section>

    <section class="game-nav">
        <div class="player-info">
            <div class="player-name">
                <p>username to insert</p>
            </div>

            <div class="player-funds">
                <p>$0000</p>
            </div>

            <div class="player-score">
                <p>0000</p>
            </div>
        </div>

        <div class="btn-game">
            <button class="btn double">double</button>
            <button class="btn split">split</button>
            <button class="btn deal">hit</button>
            <button class="btn stand">stand</button>
        </div>
    
    </section>
</main>

