
<main class='game-board'>
<p class="userId"><%= @user_id %></p>
  <section class="dealer-pile">
    <div class="dealer images">
    </div>
    <div class="score-container">
      <p class="dealer score">0</p>
    </div>
  </section>
  <section class="game-info">
    <p class="game-message">player wins</p>
  </section>
  <section class="player-piles">
  </section>
  <section class="current-bet-container">
      <p class="current-bet-amount">0</p>
  </section>
  <section class="game-nav">
    <div class="player-info-container">
      <div class="player-name">
        <p class="user-name"><%= current_user.name %></p>
      </div>
      <div class="player-score">
        <p>Your current score is: <%=@user_points%></p>
      </div>
    </div>
    <div class="center">
      <div class="btn-game-container">
        <button class="btn-game-nav deal">deal</button>
        <button class="btn-game-nav double">double</button>
        <button class="btn-game-nav split">split</button>
        <button class="btn-game-nav hit">hit</button>
        <button class="btn-game-nav stand">stand</button>
      </div>
    </div>
    <div class="bet-container">
      <button class="btn-allin"><img src="/img/chips-all-in.svg"></button>
      <button class="chips btn-5"><img src="/img/chips-5.svg"></button>
      <button class="chips btn-25"><img src="/img/chips-25.svg"></button>
      <button class="chips btn-50"><img src="/img/chips-50.svg"></button>
      <button class="chips btn-100"><img src="/img/chips-100.svg"></button>
      <button class="chips btn-500"><img src="/img/chips-500.svg"></button>
    </div>

    <div class="background-deco-table">
      <img src="img/background_deco.svg" alt="">
    </div>
  </section>
  <script src="/javascripts/application.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/ajax.js"></script>
</main>

