<h1>BlackJack-PDR</h1>
<h2>About Title</h2>
<h4>BlackJack -> 21</h4>
<h4>P -> Priya</h4>
<h4>D -> Daniel</h4>
<h4>R -> Rob</h4>
<h1>How to play</h1>
<h4>In order to win blackjack, you have to beat the dealer. If the final combined value of the cards is greater than that of dealer, you win. When you see the value of your blackjack cards and the value of one of the cards of the dealer, you can adjust your bets accordingly. You can "HIT" to add more cards and "STAND" to stop. The dealer always has to hit if the value of their card is 16 or lower, and he must stop hitting when the value reaches 17 or more.</h4>
