<h1 class= "heading">Rules, Tips & Tricks</h1>
<div class="howtoplay">
  <p>1. Blackjack starts with players making bets.</p>
  <p>2. Dealer deals 2 cards to the players and two to himself (1 card face up, the other face down).</p>
  <p>3. Blackjack card values: All cards count their face value in blackjack. Picture cards count as 10 and the ace can count as either 1 or 11. Card suits have no meaning in blackjack. The total of any hand is the sum of the card values in the hand.</p>
  <p>4. Players must decide whether to stand, hit, surrender, double down, or split.</p>
  <p>5. The dealer acts last and must hit on 16 or less and stand on 17 through 21.</p>
  <p><strong>6. Players win when their hand totals higher than dealer’s hand, or they have 21 or less when the dealer busts (exceeds 21).</strong></p>
  <p>7.Remember practice makes perfect, There is an art to playing BlackJack successfully, and knowing when to Hit, Split, Double and Stand comes only with practice.</p>
</div>
<footer class="wrap">
  <div class="sticker"></div>
  <div class="msg">Made by :PDR 2019</div>
</footer>
