<h1 class= "heading">Game Tricks</h1>
<div class="howtoplay">
  <h3>BlackJack >> "21"</h3>
  <p class="icon" > <img src="/img/icon.png" alt="">Blackjack starts with players making bets<img src="/img/icon.png" alt=""></p>
  <%# <p class="icon" > <img src="/img/icon.png" alt="">A player has minimum balance of $1000<img src="/img/icon.png" alt=""></p> %>
  <p class="icon" > <img src="/img/icon.png" alt="">Dealer deals 2 cards to the players and two to himself<img src="/img/icon.png" alt=""></p>
  <p class="icon" > <img src="/img/icon.png" alt="">Blackjack card values: All cards count their face value in blackjack. Picture cards count as 10 and the ace can count as either 1 or 11. Card suits have no meaning in blackjack. The total of any hand is the sum of the card values in the hand<img src="/img/icon.png" alt=""></p>
  <p class="icon" ><img src="/img/icon.png" alt="">Players must decide whether to hit, split, double or stand<img src="/img/icon.png" alt=""></p>
  <p class="icon" ><img src="/img/icon.png" alt="">The dealer acts last and must hit on 16 or less and stand on 17 through 21<img src="/img/icon.png" alt=""></p>
  <p class="icon" ><img src="/img/icon.png" alt="">Players win when their hand totals higher than dealer’s hand, or they have 21 or less when the dealer busts (i.e., exceeds 21)<img src="/img/icon.png" alt=""></p>
  <p class="icon" > <img src="/img/icon.png" alt="">Remember practice makes perfect, There is an art to playing BlackJack successfully, and knowing when to Hit, Split, Double and Stand comes only with practice<img src="/img/icon.png" alt=""></p>
</div>
<footer class="wrap">
  <div class="sticker"></div>
  <div class="msg">Made by :PDR 2019</div>
</footer>
