<h1>BlackJack_PDR</h1>
<h3><a href="/game">Play Now</a></h3>
<h4><a href="/login">LogIn</a></h4>
<h4><a href="/register">SignUp</a></h4>
<h4><a href="/about">About</a>
<h4><a href="/howtoplay">How to Play</a></h4>

