<h1>BlackJack_PDR</h1>

<div>
  <form action="/register" method="post">
    <div>
      <label>Name</label>
      <input type="text" name="name">
    </div>
    <div>
      <label>Email</label>
      <input type="email" name="email">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name= "password">
    </div>
    <div>
      <button>Sign up!</button>
    </div>
  </form>
  <div>
  <h4>if you already got an account, please log in</h4>
  <a href="/login">log in</a>
  </div>
</div>