<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Blackjack PDR</title>
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Laila">
    <link rel='stylesheet' href='/stylesheets/reset.css'>
    <link rel='stylesheet' href='/stylesheets/main.css'>
  </head>
  <body>
    <div class='wrapper'>
      <header class="nav-container">
        <a class="logo-link" href="/"><img class="logo-nav" src="/img/logo.svg" alt="Blackjack-PDR-logo"></a>
        <nav>
          <a href="/about">About</a>
          <a href="/howtoplay">How to Play</a>
          <a href="/game">Play Now</a>
          <a href="/leaderboard">Leader Board</a>
          <% if logged_in? %>
            <%= current_user.email %>
            <a href="/session" method="delete">Logout</a>
          <% else%>
            <a href="/">LogIn</a>
          <%end%>
        </nav>
      </header>
      <%= yield %>
    </div>
  </body>
</html>
