<h1 class= "heading">Check out who is leading!!!!</h1>
<div class="leaderboard">
  <h2>May the best player Leads!!!</h2>
  <br>
  <table class="leaderboard_table">
    <tbody>
      <tr>
        <th>Name</th>
        <th>Score</th>
      </tr>
      <% @leaders.each do |leader|%>
        <tr>
          <td><%= leader.name%> </td>
          <td><%= leader.points%> </td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <button class="btn btn_leaderboard">
    <a href="/game">Play Now</a>
  </button>
</div>
