<h3>Log In Page</h3>
<div class="card-body">
  <form action="/login">
    <div>
      <label>Email</label>
      <input type="email" name="email" placeholder="Email address">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name= "password" placeholder="Password">
    </div>
    <div>
      <button>LogIn</button>
    </div>
  </form>
</div>
