<h2>Home page</h2>
<h3>Lets play</h3>
<h4>May the best player wins!!!</h4>
<div class="card-body">
  <form action="/register" method="post">
    <div>
      <label>Name</label>
      <input type="email" name="email">
    </div>
    <div>
      <label>Email</label>
      <input type="email" name="email">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name= "password">
    </div>
    <div>
      <button>Sign up!</button>
    </div>
  </form>
</div>
