<h2>Home page</h2>
<h3>Lets play</h3>
<h4>May the best player wins!!!</h4>
<%# <h3>Register</h3> %>
<div class="card-body">
  <form action="/register">
    <div>
      <label>Name</label>
      <input type="email" name="email" placeholder="name">
    </div>
    <div>
      <label>Email</label>
      <input type="email" name="email" placeholder="Email address">
    </div>
    <div>
      <label>Password</label>
      <input type="password" name= "password" placeholder="Password">
    </div>
    <div>
      <button>Sign up!</button>
    </div>
  </form>
</div>
