<h1 class= "heading">SignUp Here</h1>
<div class="sign-up-container">
  <form action="/signup" method="post" class="form-container">
    <div>
      <input type="text" name="name" placeholder="Name" class="form-control">
    </div>
    <div>
      <input type="email" name="email" placeholder="Email" class="form-control">
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" class="form-control">
    </div>
    <div class="btn-container">
      <button class="btn btn-sign-up">Sign up</button>
      <p class="a_signup">Already a user? <a href="/">Click here</a></p>
    </div>
  </form>
</div>
<footer class="wrap">
  <div class="sticker"></div>
  <div class="msg">Made by :PDR 	&copy;2019</div>
</footer>
