<div class="sign-up-container">
  <form action="/signup" method="post" class="form-container">
    <div>
      <input type="text" name="name" placeholder="Name" class="form-control">
    </div>
    <div>
      <input type="email" name="email" placeholder="Email" class="form-control">
    </div>
    <div>
      <input type="password" name="password" placeholder="Password" class="form-control">
    </div>
    <div class="btn-container">
      <button class="btn btn-sign-up">Sign up</button>
      <p>Already a user? <a href="/">Click here</a></p>
    </div>
  </form>
</div>
