/*** GLOBAL SET UP ***/

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(45, 45, 45);
    
}

*:focus {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(181, 250, 228);
}


/*** NAV ***/

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    min-height: 95px;
}

.nav-homepage {
    margin: 20px;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
}

.logo-nav {
    margin: 0.5rem 1.5rem;
    cursor: pointer;
}

.logo-link {
    width: 90px;
}

nav {
    margin: 20px;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
}

nav a {
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
}

.btn {
    background-color: rgba(215, 103, 170, 0.6);
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s linear;
  
}

.btn:hover {
    background-color: rgb(236, 0, 140);
}

/*** INDEX / HOMEPAGE ***/

.homepage {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.logo {
    margin: 0 auto;
    align-content: flex-start;
    padding: 2rem 0 2rem 0;
}

.sign-up-container,
.login-container {
    width: 50%;
    margin-bottom: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    margin: 10px auto;
   
}


/*** GAME ***/


.dealer-card-1 {
    max-width: 10%;
}

/*** PAGES ***/
.aboutpage {
    width: 50%;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
}

.howtoplay {
    width: 50%;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
}

.btn-container {
    padding: 10px;
}

.form-container > div {
    text-align: center;
}

.form-control {
    font-size: 14px;
    color: #282828;
    border-radius: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #bbb;
    padding: 10px;
    display: block;
    width: 97%;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    
}

.form-control:focus, .form-control:hover {
    outline: 0 none;
    box-shadow: 1px 1px 15px #8d247313;
    border-color: palevioletred;
}

.links img {
    width: 10px;
}

.links a {
    text-decoration: none;
}
/* board game - global */

.game-board {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}

/* sections */

.dealer-pile,
.images,
.game-info,
.player-card-pile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.game-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card {
    max-width: 50%;
}

.center-game-nav {
    display: flex;
    flex-direction: column;
}

.card-relative {
    position: relative;
    right: 10px;
}

.chips {
    border-radius: 50%;
}

.score-container {
    background-color: grey;
    padding: 20px;
    border-radius: 5px;
    height: 100%;
}



/*** TEMP ***/ 

.dealer-pile {
    background-color: blue;
}

.game-info {
    background-color: green
}

.player-piles {
    background-color: red
}

.game-nav {
    background-color: pink
}