/*** GLOBAL SET UP ***/

* {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: rgb(45, 45, 45);
    
}

*:focus {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(181, 250, 228);
}


/*** NAV ***/

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    min-height: 95px;
}

.nav-homepage {
    margin: 20px;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
}

.logo-nav {
    margin: 0.5rem 1.5rem;
    cursor: pointer;
}

.logo-link {
    width: 90px;
}

nav {
    margin: 20px;
    display: flex;
    grid-template-columns: 25% 25% 25% 25%;
}

nav a {
    text-decoration: none;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
}

nav a:hover {
    color: rgb(236, 0, 140);
}

.btn {
    background-color: rgba(215, 103, 170, 0.6);
    color: #FFF;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s linear;
}

.btn:hover {
    background-color: rgb(236, 0, 140);
}


/*** INDEX / HOMEPAGE ***/

.homepage {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.logo {
    margin: 0 auto;
    align-content: flex-start;
    padding: 2rem 0 2rem 0;
}

.sign-up-container,
.login-container {
    width: 50%;
    margin-bottom: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    margin: 10px auto;
   
}


/*** PAGES ***/

.heading {
    color: #ff69da;
    letter-spacing: 0.3em;
    font-weight: bold;
    font-size: 4em;
    align-self: center;
}

.about {
    width: 50%;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    text-align: center;
}
.about,.howtoplay p {
    line-height: 30px;
    font-size: 15px;
}

.howtoplay {
    width: 50%;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    line-height: 30px;
    font-size: 30px;
    text-align: center;
}


.howtoplay img {
    height: 40%;
    width: 80%;
}
.btn-container {
    padding: 10px;
}

.form-container > div {
    text-align: center;
}

.form-control {
    font-size: 14px;
    color: #282828;
    border-radius: 3px;
    box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -webkit-box-shadow: none;
    border: 1px solid #bbb;
    padding: 10px;
    display: block;
    width: 97%;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
}

.form-control:focus, .form-control:hover {
    outline: 0 none;
    /* box-shadow: 1px 1px 15px #8d247313; */
    border-color: palevioletred;
}

.form-container a {
    text-decoration: none;
}

.links img {
    width: 10px;
}

.links a {
    text-decoration: none;
}


.leaderboard {
    width: 50%;
    margin-top: 20rem;
    margin-bottom: 20rem;
    margin: 10px auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: #FFF;
    text-align: center;
}
table {
    border-collapse: collapse;
    width:80%; 
    margin-left:auto;
    margin-right:auto;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #67caf2}
  
  th {
    background-color: rgb(250, 147, 69);
    color: black;
}

.btn_leaderboard {
    margin: 10px auto;
    padding: 10px;
}

.btn_leaderboard a {
    text-decoration: none;
    margin: 10px auto;
}

/*** GAME ***/

/* board game - global */


.game-board {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

section {
    padding: 1rem 0 1rem 0;
}

.card {
    border: 1px solid rgb(45, 45, 45);
    border-radius: 0.5rem;
    background-color: #FFF;
    height: 45%;
}

.card-relative {
    position: relative;
}

/* sections */

.dealer-pile,
.images,
.game-info,
.player-card-pile,
.player-piles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dealer-pile {
    min-height: 38%;
    align-items: center;
}

.game-info {
    background: linear-gradient(to right, rgba(245, 120, 195,0) 0%, rgb(245, 120, 195) 25%, rgba(245, 120, 195,1) 50%, rgba(245, 120, 195,1) 75%, rgba(245, 120, 195,0) 100%);
}

.game-message {
    font-family: 'Satisfy', cursive;
    font-size: 2.5rem;
    color: rgb(236, 0, 140);
}

.player-piles {
    min-height: 38%;
    align-items: center;
}

.current-bet-container {
    min-height: 10%;
}

.game-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.btn-game-nav,
.btn-allin {
    height: 4rem;
    background-color: rgba(215, 103, 170, 0.6);
    color: #FFF;
    font-weight: 600;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.2s linear;
}

.btn-game-nav:hover,
.btn-allin:hover {
    background-color: rgb(236, 0, 140);
}

.player-info-container {
    height: 4rem;
    width: 4rem;
    background-color: rgba(215, 103, 170, 0.6);
    margin: 1rem;
    border-radius: 0.5rem;
}

.player-name p, 
.player-score p {
    color: #FFF;
    font-weight: 600;
}

.current-bet-container,
.player-info-container,
.bet-container {
    padding: 0 1rem;
}

.center {
    display: flex;
    flex-direction: column;
}

.chips {
  height: 50px;
  width: 50px;
  background-image: url(public/img/chips.png);
  background-image: no-repeat;
  background-position: 50% 50%;
  border: none;
  color: transparent;
  cursor: pointer;
}

.score-container {
    background-color: rgba(215, 103, 170, 0.6);
    color: #FFF;
    font-weight: 600;
    padding: 20px;
    border-radius: 5px;
}



/*** TEMP ***/ 

.dealer-pile {
    background-color: blue;
}

/* .game-info {
    background-color: green
} */

.player-piles {
    background-color: red
}

.current-bet-container {
    background-color: orange
}

.game-nav {
    background-color: pink
}

